<div class="page-container" style="min-height:531px">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Content area -->
      <div class="content">

        <!-- Advanced login -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="panel panel-body login-form">
            <div class="text-center">
              <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
              <h5 class="content-group">Login to your account <small class="display-block">Your credentials</small></h5>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <input type="text" class="form-control" placeholder="Username" formControlName="userName">
              <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
              </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
              <input type="password" class="form-control" placeholder="Password" formControlName="passWord">
              <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
              </div>
            </div>

            <div class="form-group login-options">
              <div class="row">
                <div class="col-sm-6">
                  <label class="checkbox-inline">
                    <!-- <div class="checker"> -->
                      <span class="checked">
                        <input type="checkbox" class="styled" checked="checked"/>
                      </span>
                    <!-- </div> -->
                    Remember
                  </label>
                </div>

                <div class="col-sm-6 text-right">
                  <a href="login_password_recover.html">Forgot password?</a>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn bg-blue btn-block">Login <i class="icon-arrow-right14 position-right"></i></button>
            </div>
          </div>
        </form>
        <!-- /advanced login -->


        <!-- Footer -->

        <!-- /footer -->

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->

</div>
