<form class="form-horizontal" [formGroup]="filterForm" (ngSubmit)="onSubmitFilter()">
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">{{currentDichVu}}<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <fieldset>
            <div class="form-group">
              <label class="col-lg-3 control-label">Từ khóa:</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" formControlName="keyword" placeholder="Tìm tên, địa chỉ, số điện thoại...">
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <div class="form-group">
              <div class="text-right">
                <button type="submit" class="btn btn-primary">Tìm kiếm<i class="icon-arrow-right14 position-right"></i></button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</form>
<app-child-list-nha-cung-cap (pick_a_page)="pickADate($event)" [datas]="filterResult" [total]="totalRecord" [pageSize]="pageSize"></app-child-list-nha-cung-cap>

