<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div *ngIf="isAuthen">
  <app-header></app-header>
  <div class="page-container" style="min-height:474px">
    <div class="page-content">
      <div class="sidebar sidebar-main">
        <app-meunu-left></app-meunu-left>
      </div>
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>


    </div>
  </div>
</div>
<div *ngIf="!isAuthen">
  <router-outlet></router-outlet>
</div>
