<div class="panel panel-flat">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="col-lg-1">Số thứ tự</th>
          <th class="col-lg-3">Thông tin cơ bản</th>
          <th class="col-lg-3">Thông tin liên hệ</th>
          <th class="col-lg-3">Thông tin thanh toán</th>
          <th class="col-lg-1">Trạng thái</th>
          <th class="col-lg-1">Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datas | paginate:
        {
          itemsPerPage: pageSize,
          currentPage: p,
          totalItems: total
        };
          let i = index" [attr.data-index]="i"
        >
          <td>{{i+1}}</td>
          <td>
            <table>
              <tbody>
                <tr>
                  <td><b>Mã: </b></td>
                  <td> {{item.ma}}</td>
                </tr>
                <tr>
                  <td><b>Tên: </b></td>
                  <td> {{item.ten}}</td>
                </tr>
                <tr>
                  <td><b>Ngày tạo: </b></td>
                  <td> {{item.ngayTao}}</td>
                </tr>
              </tbody>
            </table>

          </td>
          <td>
            <table>
              <tbody>
                <tr>
                  <td><b>Địa chỉ: </b></td>
                  <td> {{item.diaChi}}</td>
                </tr>
                <tr>
                  <td><b>SĐT: </b></td>
                  <td> {{item.soDienThoai}}</td>
                </tr>
                <tr>
                  <td><b>Email: </b></td>
                  <td> {{item.email}}</td>
                </tr>
              </tbody>
            </table>

          </td>
          <td>
            <table>
              <tbody>
                <tr>
                  <td><b>Tên TK: </b></td>
                  <td> {{item.tenTaiKhoan}}</td>
                </tr>
                <tr>
                  <td><b>Số TK: </b></td>
                  <td> {{item.soTaiKhoan}}</td>
                </tr>
                <tr>
                  <td><b>Ngân hàng: </b></td>
                  <td> {{item.nganHang}}</td>
                </tr>
              </tbody>
            </table>

          </td>
          <td>
            <table>
              <tbody>
                <tr>
                  <td><b>Loại: </b></td>
                  <td> {{item.loai}}</td>
                </tr>
                <tr>
                  <td><b>Trạng thái: </b></td>
                  <td> {{item.trangThai}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
